# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# IDE
.vscode/
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.factorypath

# OS
.DS_Store
Thumbs.db

# Log files
*.log

# Git
.git/
.gitignore
.gitattributes

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Documentation
README.md
*.md

# Test
**/src/test/**
